{% extends "!layout.html" %}
{% block extrahead %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146838704-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146838704-1');
</script>



{% endblock %}

{% block footer %}

<script>
{{ super() }}
</script>
{% endblock %}

{% block comments %}
<script src="https://utteranc.es/client.js"
        repo="hcyang1012/blog-comment"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
